---
layout: default

images:
  - url: 2112roundtree/ext-Roundtree-1.jpg
  - url: 2112roundtree/ext-Roundtree-2.jpg
  - url: 2112roundtree/Roundtree-1.jpg
  - url: 2112roundtree/Roundtree-2.jpg
  - url: 2112roundtree/Roundtree-3.jpg
  - url: 2112roundtree/Roundtree-4.jpg
  - url: 2112roundtree/Roundtree-5.jpg
  - url: 2112roundtree/Roundtree-6.jpg
  - url: 2112roundtree/Roundtree-7.jpg
  - url: 2112roundtree/Roundtree-8.jpg
  - url: 2112roundtree/Roundtree-9.jpg
  - url: 2112roundtree/Roundtree-10.jpg
  - url: 2112roundtree/Roundtree-11.jpg
  - url: 2112roundtree/Roundtree-12.jpg
  - url: 2112roundtree/Roundtree-13.jpg
  - url: 2112roundtree/Roundtree-14.jpg
  - url: 2112roundtree/Roundtree-15.jpg
  - url: 2112roundtree/Roundtree-16.jpg
  - url: 2112roundtree/Roundtree-17.jpg
---
<div class="main-gallery">
  {% for image in page.images %}
    <div class="main-gallery__item"
         style="background-image: url(images/{{ image.url }})"></div>
  {% endfor %}
</div>

<!-- <div class="nav-gallery-wrapper">
  <div class="nav-gallery">
    {% for image in page.images %}
      <div class="nav-gallery__item"
           style="background-image: url(images/{{ image.url }})"></div>
    {% endfor %}
  </div>
</div> -->
