---
layout: default

images:
  - url: anothermeriden/1.jpg
  - url: anothermeriden/2.jpg
  - url: anothermeriden/3.jpg
  - url: anothermeriden/4.jpg
  - url: anothermeriden/5.jpg
  - url: anothermeriden/6.jpg
  - url: anothermeriden/7.jpg
  - url: anothermeriden/8.jpg
---
<div class="main-gallery">
  {% for image in page.images %}
    <div class="main-gallery__item"
         style="background-image: url(images/{{ image.url }})"></div>
  {% endfor %}
</div>

<!-- <div class="nav-gallery-wrapper">
  <div class="nav-gallery">
    {% for image in page.images %}
      <div class="nav-gallery__item"
           style="background-image: url(images/{{ image.url }})"></div>
    {% endfor %}
  </div>
</div> -->
