html, body, {
  height: 100%;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;
}

.main-gallery {
  width: 100%;
  height: 100%;

  &__item {
    width: 100%;
    height: 100%;

    background-position: center center;
    background-size: cover;

    @media screen and (max-width: 768px) and (orientation: portrait) {
      background-color: #000;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .slick-slide {
    min-height: 100vh;
  }
}

.nav-gallery-wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;

  @media screen and (max-width: 768px) {
    right: 10px;
  }
}

.nav-gallery {
  &__item {
    display: inline-block;
    margin-right: 25px;
    width: 125px !important;
    height: 90px !important;

    background-position: center center;
    background-size: cover;
    border: 2px solid rgba(255,255,255,.8);

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 768px) {
      width: 80px !important;
      height: 60px !important;
      margin-right: 15px;
    }

    @media screen and (max-width: 480px) {
      width: 40px !important;
      height: 40px !important;
      margin-right: 10px;
    }
  }

}
